:root{
    --preto: #000000;
    --principal: #6E2626;
    --menu:#461616;
    --corpo: #c09544;
    --marrom: #6C5046;
    --branco: #FFFFFF;
    }

    body{
    background: var(--corpo);
   
}
header {
    display: flex; 
    width: 100%;
    background-color: var(--principal);
    padding: 1rem;
    justify-content: center;

}

.portfolio h1{
    font-size: 4rem;
    color: var(--branco);
}