:root{
    --preto: #000000;
    --principal: #6E2626;
    --menu:#461616;
    --corpo: #E6DBC6;
    --marrom: #6C5046;
    --branco: #FFFFFF;
    }

    body{
    background-color: var(--corpo);
   
}
header {
    display: flex; 
    width: 100%;
    background-color: var(--principal);
    padding: 1rem;
    justify-content: center;

}